@use '../base'as b;
@use '../components'as c;

#bar_container {
    height  : 100%;
    width   : 100%;
    position: relative;
}

#logo_container {
    width          : 60vw;
    max-width      : 1100px;
    display        : flex;
    justify-content: center;

    #logo {
        width : 12vw;
        margin: 1vw;
    }
}

#wall {
    width          : 60vw;
    max-width      : 1100px;
    display        : flex;
    justify-content: space-between;

    #info_display {
        border            : solid 0.5rem #889AA9;
        border-radius     : 2rem;
        background-color  : #0f0f11;
        -webkit-box-shadow: 3px 0px 7px -1px #000000;
        box-shadow        : 3px 0px 7px -1px #000000;
        width             : 30vw;
        min-width         : 400px;
        height            : 7vw;
        min-height        : 100px;
        padding           : 1rem;
        overflow          : hidden;
        color             : b.$bitmap-text;
        font-family       : b.$rocket-font;
        font-size         : 1.5vw;
    }

    #shelves {
        height    : 7vw;
        min-height: 100px;
    }
}

#bar_plus_tenders {

    .eye_display {
        // Same for all media queries
        position       : absolute;
        width          : 42%;
        height         : 20%;
        left           : 29%;
        top            : 14%;
        display        : flex;
        justify-content: center;
        text-align     : center;
        align-items    : center;
        color          : b.$bitmap-text;
        font-family    : b.$robot-font;
        font-size      : 2vw;
    }

    @media (max-width: 1199px) {

        #bartenders {
            position: absolute;
            width   : 700px;
            height  : 137px;
            bottom  : 122px;
            display : flex;

            .bartender_container {
                width   : 125px;
                position: absolute;
                height  : 100%;

                .robot_img {
                    position: absolute;
                }
            }
        }

        #bar_svg {
            position: absolute;
            width   : 700px;
            bottom  : -20px;
        }

        #chairs {
            position: absolute;
            bottom  : -40px;
            left    : 84px;
            width   : 506px;
        }
    }

    @media (min-width: 1200px) {

        #bartenders {
            position: absolute;
            width   : 800px;
            height  : 157px;
            bottom  : 142px;
            display : flex;

            .bartender_container {
                width   : 142px;
                position: absolute;
                height  : 100%;

                .robot_img {
                    position: absolute;
                }
            }
        }

        #bar_svg {
            position: absolute;
            width   : 800px;
            bottom  : -20px;
        }

        #chairs {
            position: absolute;
            bottom  : -40px;
            left    : 96px;
            width   : 578px;
        }
    }

    @media (min-width: 1400px) {

        #bartenders {
            position: absolute;
            width   : 900px;
            height  : 176px;
            bottom  : 165px;
            display : flex;

            .bartender_container {
                width   : 160px;
                position: absolute;
                height  : 100%;

                .robot_img {
                    position: absolute;
                }
            }
        }

        #bar_svg {
            position: absolute;
            width   : 900px;
            bottom  : -20px;
        }

        #chairs {
            position: absolute;
            bottom  : -40px;
            left    : 108px;
            width   : 650px;
        }
    }

    @media (min-width: 1600px) {

        #bartenders {
            border  : 1px blue solid;
            position: absolute;
            width   : 1000px;
            height  : 196px;
            bottom  : 183px;

            .bartender_container {
                border  : 1px green solid;
                width   : 178px;
                position: absolute; // NEW
                height  : 100%; // NEW

                .robot_img {
                    position: absolute;
                }

            }
        }

        #bar_svg {
            position: absolute;
            width   : 1000px;
            bottom  : -20px;
        }

        #chairs {
            position: absolute;
            bottom  : -40px;
            left    : 120px;
            width   : 723px;
        }
    }
}