//Color variables 
$primary-text: #1C2541;
$bitmap-text : #2FF40F;

$beer-lvl-4: #FFC634;
$beer-lvl-3: #FFA216;
$beer-lvl-4: #F97B06;
$beer-lvl-4: #F94F06;

$metal-grey: #889AA9;
$display-background: #1A2136;