@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap');

@font-face {
    font-family: "Minecraft";
    src        : url('../../public/assets/Minecraft-Regular.woff') format("woff");
    font-weight: normal;
    font-style : normal;
}


$robot-font: "Minecraft",
courier;
$rocket-font: "Roboto",
sans-serif;

html {
    font-size: 100%;
}